.jumbotron{
  text-align: center;
  background-color: tomato;
}
body{
  background-color: #FAEBD7;
}
.builder{
  background-color: grey;
}

.underLine {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.pizza-Creator {
  background-color: tomato;
  border-radius: 15px
  padding: 10px;
}
.orderConfirm {
  display: none;
  background-color: ForestGreen;
  border-radius: 15px;
  text size: 20;
  color: White;
}


.printTotalCost{
  font-weight: bolder;
  font-size: 25px;
}

#showTip{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
#viewTip{
  display: none;
}
