.jumbotron{
  text-align: center;

}
body{
  background-color: #FAEBD7;
}
.builder{
  background-color: grey;
}

.underLine {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.pizza-Creator {
  background-color: orange;
  border-radius: 15px
  padding: 10px;
}
.orderConfirm {
  display: none;
  background-color: green;
  border-radius: 15px;
}


.printTotalCost{
  font-weight: bolder;
  font-size: 25px;
}

#showTip{
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
#viewTip{
  display: none;
}
